@import url('https://fonts.googleapis.com/css?family=Courgette|Raleway');

body {
  text-align: center;
  position: relative;
  font-size: 1.5em;
  color: black;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 4em;
  margin: 1%;
}

h2 {
  font-family: 'Courgette', cursive;
  text-align: center;
  font-size: 1em;
}

button {
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border: none;
  box-shadow: 0.2em 0.2em #cc2727;
  -webkit-box-shadow: 0.2em 0.2em #cc2727;
  -moz-box-shadow: 0.2m 0.2em #cc2727;
  background: #ff5252;
}

.marked {
  filter: hue-rotate(200deg);
  width: 10em;
  height: 10em;
  margin: 0.2em;
  box-shadow: 0.3em 0.3em #cc2727;
  -webkit-box-shadow: 0.3em 0.3em #cc2727;
  -moz-box-shadow: 0.3em 0.3em #cc2727;
  background: #ff5252;
}

button:hover, button:active, button:focus {
 outline: none;
 border: none;
 box-shadow: 0.3em 0.3em  #ff5252;
    -webkit-box-shadow: 0.3em 0.3em  #ff5252;
    -moz-box-shadow: 0.3em 0.3em #ff5252;
  background: #ff8585;
}

.button-control {
  padding: 1em;
  font-size: 0.8em;
}

.button-square {
  width: 10em;
  height: 10em;
  margin: 0.4em;
}


.bingoboard {
  background-color: none;
  display: inline-block;
  width: 16.4em;
  height: 16em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin: 1em;
}


