$color-main: #993355;
$color-bright: #ff3355;
$color-accent: #663355;
$color-dark: #333355;
$color-accent-2: #cc3355;

canvas {
   border: solid 5px $color-dark;
   background-color: $color-bright;
}
